{% extends 'base.html.twig' %}

{% block title %}Настройки{% endblock %}

{% block body %}
    <div id="settings">
        <div class="working-status-table-container">
            <h4>Виды рабочих статусов</h4>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Название</th>
                            <th>Описание</th>
                            <th colspan="2">Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for status in working_statuses %}
                            <tr>
                                <td class="table-id">{{ status.id }}</td>
                                <td>{{ status.name }}</td>
                                <td>{{ status.description }}</td>
                                <td><a class="page-btn" href="{{ path('app_settings_working_status_edit', {id: status.id}) }}">Редактировать</a></td>
                                <td>
                                    <form
                                        method="post"
                                        action="{{ path('app_settings_working_status_delete', {id: status.id}) }}">
                                        <button class="page-btn" type="submit">Удалить</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5"><a class="page-btn" href="{{ path('app_settings_working_status_new') }}">Добавить</a></td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <div class="working-status-table-container">
            <h4>Виды отгулов</h4>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Название</th>
                    <th>Описание</th>
                    <th colspan="2">Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for days_off_type in days_off_types %}
                    <tr>
                        <td class="table-id">{{ days_off_type.id }}</td>
                        <td>{{ days_off_type.name }}</td>
                        <td>{{ days_off_type.description }}</td>
                        <td><a class="page-btn" href="{{ path('app_settings_days_off_type_edit', {id: days_off_type.id}) }}">Редактировать</a></td>
                        <td>
                            <form
                                method="post"
                                action="{{ path('app_settings_days_off_type_delete', {id: days_off_type.id}) }}">
                                <button class="page-btn" type="submit">Удалить</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="5"><a class="page-btn" href="{{ path('app_settings_days_off_type_new') }}">Добавить</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
