{% extends 'base.html.twig' %}

{% block title %}Сотрудники{% endblock %}

{% block body %}
    <div class="department-header">
        <h4>Сотрудники</h4>
        <a href="{{ path('app_employee_new') }}" class="page-btn">Добавить</a>
    </div>
    <div class="employee-table-container">
        <table class="employee-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Отдел</th>
                    <th>Должность</th>
                    <th>Статус</th>
                    <th>Телефон</th>
                    <th>Email</th>
                    <th>Заметка</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in employees %}
                    <tr>
                        <td><a class="table-cell-link" href="{{ path('app_employee_show', {id: employee.id}) }}">{{ employee.id }}</a></td>
                        <td><a class="table-cell-link" href="{{ path('app_employee_show', {id: employee.id}) }}">{{ employee.secondName }}</a></td>
                        <td><a class="table-cell-link" href="{{ path('app_employee_show', {id: employee.id}) }}">{{ employee.firstName }}</a></td>
                        <td><a class="table-cell-link" href="{{ path('app_employee_show', {id: employee.id}) }}">{{ employee.patronymic }}</a></td>
                        <td><a class="table-cell-link" href="{{ path('app_employee_show', {id: employee.id}) }}">{{ employee.department.name }}</a></td>
                        <td><a class="table-cell-link" href="{{ path('app_employee_show', {id: employee.id}) }}">{{ employee.jobTitle.name }}</a></td>
                        <td><a class="table-cell-link" href="{{ path('app_employee_show', {id: employee.id}) }}">{{ employee.workingStatus.name }}</a></td>
                        <td><a class="table-cell-link" href="{{ path('app_employee_show', {id: employee.id}) }}">{{ employee.phoneNumber }}</a></td>
                        <td><a class="table-cell-link" href="{{ path('app_employee_show', {id: employee.id}) }}">{{ employee.email }}</a></td>
                        <td><a class="table-cell-link" href="{{ path('app_employee_show', {id: employee.id}) }}">{{ employee.note }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
