{% extends 'base.html.twig' %}

{% block title %}Сотрудник {{ employee.secondName }} {{ employee.firstName }} {{ employee.patronymic }}{% endblock %}

{% block body %}
    <div class="entity-btns">
        <a href="{{ path('app_employee_index') }}" class="page-btn">В Сотрудники</a>
        <a href="{{ path('app_employee_edit', {id: employee.id}) }}" class="page-btn">Редактировать</a>
        <a href="{{ path('app_employee_delete', {id: employee.id}) }}" class="page-btn">Удалить</a>
    </div>
    <div class="card-with-table-container">
        <div class="entity-card without-btns">
            <div class="entity-card-header">
                <h4>{{ employee.secondName }} {{ employee.firstName }} {{ employee.patronymic }}</h4>
            </div>
            <div class="entity-card-body entity-grid-table employee-card">
                <span class="field-title">Суммарная зарплата</span>
                <span class="field-value">{{ employee.currentSalary }} ₽</span>
                <span class="field-title">Телефон</span>
                <span class="field-value">{{ employee.phoneNumber }}</span>
                <span class="field-title">Email</span>
                <span class="field-value">{{ employee.email }}</span>
                <span class="field-title">Заметка</span>
                <span class="field-value">{{ employee.note }}</span>
            </div>
        </div>
        <div class="employee-tables-container">
            <h4>Обязанности сотрудника</h4>
            <table>
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for job_responsibility in employee.currentResponsibilities %}
                    <tr>
                        <td>{{ job_responsibility.name }}</td>
                        <td>{{ job_responsibility.description }}</td>
                        <td><a class="page-btn" href="{{ path('app_job_responsibility_show', {id: job_responsibility.id}) }}">Перейти</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <h4>Договоры сотрудника</h4>
            <table>
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Начало</th>
                        <th>Конец</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contract in employee.contracts %}
                        <tr>
                            <td>{{ contract.name }}</td>
                            <td>{{ contract.dateFromFormatted }}</td>
                            <td>{{ contract.dateToFormatted }}</td>
                            <td><a class="page-btn" href="{{ path('app_contract_show', {id: contract.id}) }}">Перейти</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h4>Занимаемые должности</h4>
            <table>
                <thead>
                    <tr>
                        <th>Отдел</th>
                        <th>Должность</th>
                        <th>Начало</th>
                        <th>Конец</th>
                        <th>Зарплата</th>
                        <th colspan="2">Действия</th>
                    </tr>
                </thead>
                <tbody>
                {% for employeePosition in employeePositions %}
                    <tr>
                        <td>{{ employeePosition.department.name }}</td>
                        <td>{{ employeePosition.jobTitle.name }}</td>
                        <td>{{ employeePosition.dateFromFormatted }}</td>
                        <td>{{ employeePosition.dateToFormatted }}</td>
                        <td>{{ employeePosition.salary }} ₽</td>
                        <td><a href="{{ path('app_employee_position_edit', {id: employeePosition.id}) }}" class="page-btn">Редактировать</a></td>
                        <td><a href="{{ path('app_employee_position_delete', {id: employeePosition.id}) }}" class="page-btn">Удалить</a></td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td colspan="7"><a href="{{ path('app_employee_position_new', {id: employee.id}) }}" class="page-btn">Добавить</a></td>
                    </tr>
                </tbody>
            </table>
            <h4>Отгулы сотрудника</h4>
            <table>
                <thead>
                <tr>
                    <th>Вид отгула</th>
                    <th>Название</th>
                    <th>Начало</th>
                    <th>Конец</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for days_off in employee.daysOffs %}
                    <tr>
                        <td>{{ days_off.daysOffType.name }}</td>
                        <td>{{ days_off.name }}</td>
                        <td>{{ days_off.dateFromFormatted }}</td>
                        <td>{{ days_off.dateToFormatted }}</td>
                        <td><a class="page-btn" href="{{ path('app_days_off_show', {id: days_off.id}) }}">Перейти</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
