{% extends 'base.html.twig' %}

{% block title %}Отделы{% endblock %}

{% block body %}
    <div class="department-header">
        <h4>Отделы</h4>
        <a href="{{ path('app_job_responsibility_new') }}" class="page-btn">Добавить</a>
    </div>
    <div class="cards-table">
        {% for job_responsibility in job_responsibilities %}
            <div class="entity-card">
                <div class="entity-card-body">
                    <h4>{{ job_responsibility.id }}. {{ job_responsibility.name }}</h4>
                    <p>{{ job_responsibility.description }}</p>
                </div>
                <div class="entity-card-btns">
                    <a href="{{ path('app_job_responsibility_show', {id: job_responsibility.id}) }}" class="icon-btn-s"><img src="{{ asset('img/link.svg') }}" alt="link"></a>
                    <a href="{{ path('app_job_responsibility_edit', {id: job_responsibility.id}) }}" class="icon-btn-s"><img src="{{ asset('img/pen.svg') }}" alt="pen"></a>
                    <a href="{{ path('app_job_responsibility_delete', {id: job_responsibility.id}) }}" class="icon-btn-s"><img src="{{ asset('img/trash-can.svg') }}" alt="trash-can"></a>
                </div>
            </div>
        {% endfor %}
    </div>

{#    <div class="working-status-table-container">#}
{#        <h4>Рабочие обязанности</h4>#}
{#        <table>#}
{#            <thead>#}
{#            <tr>#}
{#                <th>ID</th>#}
{#                <th>Название</th>#}
{#                <th>Описание</th>#}
{#                <th colspan="2">Действия</th>#}
{#            </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#            {% for job_responsibility in job_responsibilities %}#}
{#                <tr>#}
{#                    <td class="table-id">{{ job_responsibility.id }}</td>#}
{#                    <td>{{ job_responsibility.name }}</td>#}
{#                    <td>{{ job_responsibility.description }}</td>#}
{#                    <td><a class="page-btn" href="{{ path('app_job_responsibility_edit', {id: job_responsibility.id}) }}">Редактировать</a></td>#}
{#                    <td>#}
{#                        <form#}
{#                                method="post"#}
{#                                action="{{ path('app_job_responsibility_delete', {id: job_responsibility.id}) }}">#}
{#                            <button class="page-btn" type="submit">Удалить</button>#}
{#                        </form>#}
{#                    </td>#}
{#                </tr>#}
{#            {% endfor %}#}
{#            <tr>#}
{#                <td colspan="5"><a class="page-btn" href="{{ path('app_job_responsibility_new') }}">Добавить</a></td>#}
{#            </tr>#}
{#            </tbody>#}
{#        </table>#}
{#    </div>#}
{% endblock %}
