{% extends 'base.html.twig' %}

{% block title %}Отделы{% endblock %}

{% block body %}
    <div class="department-header">
        <h4>Отделы</h4>
        <a href="{{ path('app_job_responsibility_new') }}" class="page-btn">Добавить</a>
    </div>
    <div class="cards-table">
        {% for job_responsibility in job_responsibilities %}
            <div class="entity-card with-btns">
                <div class="entity-card-body">
                    <h4>{{ job_responsibility.id }}. {{ job_responsibility.name }}</h4>
                    <p>{{ job_responsibility.description }}</p>
                </div>
                <div class="entity-card-btns">
                    <a href="{{ path('app_job_responsibility_show', {id: job_responsibility.id}) }}" class="icon-btn-s"><img src="{{ asset('img/link.svg') }}" alt="link"></a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
